.content {
  background-color: #fff;
  padding: 25px;
  color: var(--text-dark);
  border: 1px solid var(--border);
  height: 100%;
}

.price {
  font-weight: bold;
}

.link {
  text-decoration: none;
}
