.productCarousel {
  display: inherit;
  text-align: center;
  padding: 1rem;
  color: var(--checkbox-inactive);
}

.productCarouselDots {
  display: flex;
  flex-wrap: nowrap;
  gap: 2;
  justify-content: center;
}

.productCarousel input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0.3rem;
  font: inherit;
  color: currentColor;
  width: 0.8rem;
  height: 0.8rem;
  background-color: currentColor;
  border-radius: 50%;
  cursor: pointer;
}

.productCarousel input[type="radio"]:checked {
  color: var(--checkbox-active);
  background-color: var(--checkbox-active);
}
