.specificationHeading {
  border-top: 1px solid var(--border);
  color: var(--text-medium);
  margin: 0;
  font-size: 1.5rem;
  font-weight: lighter;
  padding: 2rem 0;
}

.price {
  color: var(--text-medium);
  font-weight: 400;
  font-size: 2rem;
}

.feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--text-light);
  border-top: 1px solid var(--border);
  padding: 1.25rem 0;
  text-transform: capitalize;
}
.feature div {
  flex: 1;
}
.feature div:last-child {
  text-align: right;
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  color: var(--text-light);
}

.backIcon {
  color: #000000;
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1.5rem;
}

.services {
  color: var(--services);
  font-weight: normal;
}

.offer {
  color: var(--highlight);
  font-weight: normal;
}

.separator {
  background: var(--bg);
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  height: 1rem;
  margin-bottom: 2rem;
}

.wrapper {
  max-width: var(--max-w);
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin: 0 auto;
}

.cols {
  display: flex;
  flex-direction: row;
}

.main {
  flex: 3;
}

.productInfoHeading {
  color: var(--text-medium);
  margin: 0;
  font-size: 1.5rem;
  font-weight: lighter;
  padding: 0.5rem 0 1rem 0;
}

.landscapeSidebar {
  display: none;
  border-left: 1px solid var(--border);
  flex: 1;
  padding: 2rem;
}
.readMore {
  cursor: pointer;
  display: none;
  font-size: 1.5rem;
  padding: 1rem 0;
  margin-top: 2rem;
  width: 100%;
  border: none;
  border-top: 1px solid var(--border);
  background: none;
  text-align: left;
  font-weight: lighter;
  font-family: GillSansforJL, Gill Sans, Gill Sans MT, GillSansMTStd-Medium,
    Avenir, Corbel, Arial, Helvetica, sans-serif;
  span {
    flex: 1;
  }
  svg {
    height: 1.5rem;
    transform: rotate(180deg);
    margin-right: 1.5rem;
  }
}

.keyDetails {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-bottom: 3rem;
}

.productInfo {
  display: flex;
  flex-direction: column;
}

.productCode {
  padding: 1.5rem 0 1rem 0;
}

@media (orientation: landscape) {
  .limited {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 4;
  }
  .productInfo {
    flex-direction: column-reverse;
  }
  .heading {
    border-bottom: 1px solid var(--border);
  }
  .productInfoHeading {
    padding-bottom: 0.5rem;
  }
  .productCode {
    padding: 0.5rem 0;
  }
  .wrapper > .keyDetails,
  .separator {
    display: none;
  }
  .landscapeSidebar {
    display: block;

    .keyDetails {
      margin-bottom: 0;
    }
  }
  .readMore {
    display: flex;
  }
  .services {
    font-weight: lighter;
  }
  .offer {
    font-weight: lighter;
  }
}
