.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  font-weight: 200;
  letter-spacing: normal;
  line-height: 20px;
  background-color: #fff;
  border: 1px solid var(--border);
  border-top: none;
}

@media screen and (min-width: 768px) {
  .content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.link {
  color: inherit;
  text-decoration: none;
  display: block;
  background: white;
}

.price {
  font-weight: bold;
}

.header {
  font-size: 1.75rem;
  padding: 0.75rem 0 1.5rem 0;
  text-align: center;
  color: var(--text-light);
  border-bottom: 1px solid var(--border);
}
